/*
*	Mixins for text elements
*/

@import "../helpers/rem";
@import "../variables/colors";

@mixin headline {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: rem(40);
	color: $white;
	letter-spacing: 0;
	text-transform: uppercase;
	line-height: 1;

	@include bp($bp-s) {
		font-size: rem(65);
	}

	@include bp($bp-m) {
		font-size: rem(75);
	}

	@include bp($bp-l) {
		font-size: rem(90);
		line-height: 100px;
	}
}

@mixin subline {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: rem(20);
	color: $grey-light;
	letter-spacing: 0;
	text-transform: uppercase;
	line-height: 1;

	@include bp($bp-s) {
		font-size: rem(22);
	}

	@include bp($bp-m) {
		font-size: rem(26);
	}

	@include bp($bp-l) {
		font-size: rem(30);
		line-height: 35px;
	}
}

@mixin paragraph {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: rem(20);
	color: $grey-normal;
	letter-spacing: 0;
	line-height: rem(22);

	@include bp($bp-s) {
		font-size: rem(22);
		line-height: rem(24);
	}

	@include bp($bp-m) {
		font-size: rem(26);
		line-height: rem(30);
	}

	@include bp($bp-l) {
		font-size: rem(30);
		line-height: rem(35);
	}
}

@mixin paragraph-slim {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: rem(14);
	color: $grey-normal;
	letter-spacing: 0;
	line-height: 1;

	@include bp($bp-s) {
		font-size: rem(18);
	}

	@include bp($bp-m) {
		font-size: rem(20);
	}

	@include bp($bp-l) {
		font-size: rem(22);
		line-height: 29px;
	}
}
