@import "../../bower_components/reset-css/reset";
@import "variables/*";
@import "mixins/*";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

* {
	box-sizing: border-box;
}

body {
	background: $grey-dark url("../img/farbverlauf.png") no-repeat center center fixed;
	background-size: cover;
	color: $white;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 100%;
}

::selection {
	color: $white;
	background: $green;
}

.background-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;

}

.svg-icon {
	fill: $grey-light;
	transition: fill 0.2s;
	margin-right: 15px;
	width: 25px;
	height: 25px;

	@include bp($bp-l) {
		width: 30px;
		height: 30px;
	}

	&.is-mail {
		width: 35px;
		height: 15px;

		@include bp($bp-l) {
			width: 40px;
			height: 20px;
		}
	}
}

.container {
	height: 100vh;
}

.intro {
	position: absolute;
	top: 30vh;
	left: 10vw;
	bottom: 0;
	max-width: 100%;

	@include bp($bp-s) {
		top: 10vw;
		left: 5vw;
		right: 5vw;
	}

	@include bp($bp-m) {

	}

	@include bp($bp-l) {
		left: calc(50% - 90px);
		transform: translateX(-50%);
	}
}

.headline {
	@include headline;
}

.subline {
	@include subline;

	margin-top: rem(40);
}

.tags {
	margin-top: rem(10);
	white-space: nowrap;
}

.tag {
	@include paragraph;

	display: inline-block;
	margin-right: rem(15);

	&::after {
		content: '/';
		margin-left: 15px;
	}

	&:last-child {
		margin-right: 0;

		&::after {
			content: '';
			display: none;
		}
	}
}

.links {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 0;
	bottom: 7%;
	white-space: nowrap;
}

.linkitem {
	margin-right: 50px;

	&:last-child {
		margin-right: 0;
	}
}

.link {
	@include paragraph-slim;

	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	height: 100%;

	&:hover {
		color: $green;

		.svg-icon {
			fill: $green;
		}
	}
}

//TODO: mobile styles